// Esquema de colores

// Primer esquema de colores
$white: #FFF;
$isabelline: #ECECEC;
$light-gray: #D1D1D1;


// Segundo esquema de colores
$smoky-black: #0C0910;
$granito-gray: #454545;
$quick-silver: #A6A5A8;

// Tamaños tipografías
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;



// Font Family
$old-standard: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

// Font typeface
$regular: 400;
$bold: 700;
