.newsletter {
  position: relative;
  float: left;
  background-color: $smoky-black;
  width: 40vw;
  height: 14vw;
  color: $white;
  margin-top: 460px;
  padding-top: 140px;

  @media (max-width: 500px) {
    .newsletter {
      position: relative;
      float: left;
      background-color: $smoky-black;
      width: 40vw;
      height: 100%;
      color: $white;
      margin-top: 500px;
      padding-top: 400px;
    }
  }
  &__title {

    padding-left: 50px;
    padding-bottom: 20px;
    margin-top: -90px;
  }

  &__sub {
  background-color: $white;
  color: $smoky-black;
  transform: rotate(90deg);
  width: 180px;
  height: 40px;
  margin-top: -70px;
  text-align: center;
  margin-left:-50px;
}
}
